<div *ngIf="!suspect">
    <h1>Find Employee</h1>
    <div class="body">


        <div class="pic">
            <img src="../../../assets/transparent-people-social-group-standing-silhouette-formal-wea-5e5f2240b636f0.5848229415832929927464.jpg">
        </div>

        <!-- file uploader -->
        <div class="main">
            <h3>Please upload picture of the suspect</h3>
            <input (change)="onFilePicked($event)" class="custom-file-input" placeholder="Upload File" type="file" />
            <button (click)="onFileUpload()" class="myButton">Upload File</button>
            <p *ngIf="errorMsg"> Please Select A File</p>
        </div>
    </div>
</div>


<div *ngIf="suspect">
    <div *ngIf="!suspect.imageName" class="noResultDiv">
        <img class="errorImg" src="../../../assets/XXXX.png" />
        <p class="noResultText">Not exist!!!</p>
        

    </div>
    <div *ngIf="suspect.imageName">
        <h2>Data results</h2>
        <img class="scsImg" src="../../../assets/background.jpg" />
        <p class="resultData"><b>Name: </b> {{suspect.name}}</p>
        <p class="resultData"><b>Date Of Birth: </b>{{suspect.date_of_birth}}</p>
        <p class="resultData"><b>Employee ID: </b> {{suspect.Reason_of_detention}}</p>
        <p class="resultData"><b>ID: </b>{{suspect.Detention_period}}</p>
        <p class="resultData"><b>department: </b>{{suspect.Year_of_detention}}</p>
    </div>
    <button class="refresh" (click)="refresh()">to new search</button>

</div>